#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

form {
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 100vh;
}

.App {
  display: flex;
  justify-content: center;
}

.span {
  color: red;
}
